.navigation{
    background-color: green;
    width: 100%;
    padding: 15px;
}
ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
li a{
    color: #ffffff;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover{
    color: yellow;
    text-decoration: underline;
}

.topbody{
    width: 100%;
    height: 500px;
    border: 1px solid blue;
    background-image: url(farm.png);
    background-size: cover;
}
.topbody h1{
    color: white;
    padding-top: 80px;
    padding-left: 20px;
    font-size: 50px;

}
.topbody p{
    color: white;
    padding-left: 20px;
    font-size: 25px;
}
.farmimages img{
    height: 300px;
    width: 400px;
}
.farmimages{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.middlebody h1{
    text-align: center;
    color: green;
}
.footer{
    background-color: green;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
